:root {
  --primary-color_rgb: 255, 171, 45;
  --alpha: 0.87;
  --text-color: #404040;
}

html,
body {
  margin: 0;
  padding: 0px;
  font-size: 16px;
}
body {
  padding: 0.5rem;
  width: 250px;
  color: var(--text-color);
}

.qr-container {
  text-align: center;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  margin-right: auto;
}

#url-input {
  flex: 1;
  padding: 2px;
}

#qr-code {
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: 0;
  background-color: rgb(var(--primary-color_rgb));
  border-radius: 4px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  color: var(--text-color);
}

button:hover {
  background-color: rgba(var(--primary-color_rgb), var(--alpha));
}

#close-btn{
  cursor: pointer;
  line-height: 1rem;
  padding: 5px;
}