:root {
  --primary-color: #fff;
  --secondary-color: #000;
}

html,
body {
  margin: 0;
  padding: 0px;
  width: 280px;
}

.container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 12px;
}

#qr-code {
  align-items: center;
  display: flex;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  flex-direction: column;
}

.title {
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

label {
  margin-right: auto;
}

#url {
  flex: 1;
  padding: 2px;
}

#qr-code {
  margin: 12px auto;
}

#download {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
  padding: 6px 12px;
}

#close-btn {
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
}

#close-btn rect {
  fill: var(--secondary-color);
}

footer {
  display: flex;
  place-content: end;
}
